
.ust nav ul{
    background-color: #9c9c9c;
    list-style-type: none;
    width:100% ;
    margin-left: 0px;
}
.ust nav ul li{
    display: inline-block;
    width: 100px;
    padding: 15px ;
    background-color: #9c9c9c;
    margin-right: 15px;
    margin-left: 10px;

}

.ust nav ul li a{

    display: block;
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    text-align: center;
}
.ust nav ul li:hover{
    background-color: #FFEBEE	;
    transition: 0.5s;
}
.ust nav ul li a:hover{
    color: black;
    transition: 0.5s;
}
.ust i{
    padding-right: 10px;
}
.ul {
    display: block;
}
header.ust{
    background-image: url("resim/cicek.jpg");
    position: relative ;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
nav ul li ul{
    display: none;
    position: absolute;
    width: 150px;
}
nav ul li:hover ul{
    display: block;
    
}
nav ul li ul li{
    display: block;
    width: 150px;
}
nav ul li ul li a{
    
    display: block;
    width: 150px;
}
#bolum2{
    width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
}
.kapsayici{
    width: 1000px;
    padding: 0 auto;
}
#bolum2 .kapsayici .sol{
    width: 400px;
    float: left;
    padding-left: 70px;
}
#bolum2 h2{
    font-family: 'Segoe Print', 'Arial Narrow', Arial, sans-serif ;
    font-size: 40px;
    font-weight: 700;
    color: #484848;
    line-height: 60px;
}
#bolum2 .sol p{
    font-family: 'Segoe Print', 'Arial Narrow', Arial, sans-serif ;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 100;
    color: #aaa;
    line-height: 40px;
}

header #bolum1{
    width: 100%;
    position:absolute;
    top: 30%;
    text-align:center;
    font-family: 'Segoe Script';
    font-size: 80px;
}
*{
    box-sizing:border-box;
}


#bolum2 .card{
    width: 28%;
    position: absolute;
    right: 200px;
    background:white;
    border-radius:3%;
    box-shadow:lightsteelblue 0 0 5px;
    transition: all .2s;
   }


#bolum2 .card:hover{
    box-shadow:grey 0 0 15px; 
}

#bolum2 .card-header{
    overflow: hidden;
    height: 25rem;
}

#bolum2 .card-header img{
    width: 100%;
    transition: all .2s;
}

#bolum2 .card-header img:hover{
    transform: scale(1.1);
}

#bolum2 .card-body{
    padding-top: 2px;
    text-align: center;
} 
#bolum2 .card-body h3{
    margin-top: 1px;
    font-size:3.2rem;
}
#bolum2 .social_Link{

    list-style-type: none;
    text-decoration: none;
    color:grey ;
    font-size: large;

    }
    #bolum2   .social_Link:hover{

        color: #EDF901 ;
    transition: 0.4s; 
    }